body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container {
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    display: inline-block;
    margin-top: 40px;
}
.container:first-child {
    margin-top: 0;
}

/* HEADER */
.logo {
    height: 40px;
    object-fit: contain;
    object-position: top left;
    float: left;
}
.main-menu {
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 20px;
}
.main-menu > .link {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}
.main-menu > .link:nth-child(1) {
    margin-left: 0;
}

/* MAIN */
.left-column {
    float: left;
    width: 40%;
}
.main-title {
    font-size: 60px;
    width: 100%;
    display: inline-block;
}
.main-title > span {
    font-weight: normal;
}
.description {
    width: 100%;
    font-size: 18px;
    margin-bottom: 50px;
}
.btn {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #662C82;
    border-radius: 1.5em;
    border: 0.2em solid #662C82;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}
.btn:hover{
    background-color: #fff;
    color: #662C82;
}
.btn.btn-white{
    color: #662C82;
    background-color: #fff;
}
.btn.btn-white:hover{
    color: #fff;
    background-color: #662C82;
}
.right-column {
    width: 60%;
    float: right;
    object-fit: cover;
    object-position: right;
}

/* FOOTER */
.socials {
}
.socials > .link {
    color: #ccc;
    text-decoration: none;
    float: left;
    height: 2.5em;
    width: 2.5em;
    text-align: center;
    line-height: 2.5em;
    font-size: 18px;
}
.socials > .link:hover {
    color: #fff;
    background-color: #662C82;
    border-radius: 50%;
}
.copyright {
    float: right;
}