header{
    width: 800px;
    background-color: pink;
    margin-left: calc((100% - 800px) / 2);
}
main{
    width: 800px;
    background-color: pink;
    margin-left: calc((100% - 800px) / 2);
}
footer{
    width: 800px;
    background-color: pink;
    margin-left: calc((100% - 800px) / 2);
}
